/* Google Map Styles */

#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#preferences-container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding:30px;
  background-color: white;
  border-radius: 10px;
  width: 70%;
  height: 70%;

}

#map-container {
  height: 80%;
}

.form-center {
  
  overflow: hidden;
  padding: 10px;

  form {
    margin: 0 auto;
  }

  label, input {
    float: left;
  }
  label {
    clear: left;
    display: block;
    margin-top:3px; 
    width:90px;
  }
}

.slider {
  padding-bottom: 25px;
  left: 70px;
  display: inline-block;
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#preferences-form {
  margin-top: 10px;
  margin-bottom: 10px;
}
