$font-color: #3d3d3d;


.instruction_page{
	background-color: #D8F5D5;
	background-image: url('../images/instruction-bgx2.png');
	font-family: 'Exo', Arial, sans-serif;
	padding: 5% 12%;
}

#start_screen{
	.instruction_next_button{
		right: 40%;
		bottom: 5%;
	}
}

.instruction_header{
	font-size: 58px;
	color: $font-color;
	margin-bottom: 2%;
}
.instruction_paragraph{
	color: $font-color;
	font-weight: 300;
	font-size: 22px;
	img{
		float: right;
	}
	.instruction_option_container{
		display: inline-block;
		height: 200px;
	}
	.instruction_option{
		display: inline-block;
		width: 32%;
		img{
			float: none;
		}
	}
	.instruction_option_label{
		font-size: 25px;
		color: $font-color;
	}
	button{
		padding: 0;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}
}

.instruction_next_button{
	padding: 1% 4%;
	position: absolute;
	bottom: 10%;
	right: 8%;
	border-radius: 12px;
	display: inline-block;
	font-size: 28px;
	color: white;
	background-color: #428bca;;
	cursor: pointer;
	webkit-user-select: none;
	-moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;
}

.instruction_previous_button{
	padding: 1% 4%;
	position: absolute;
	bottom: 10%;
	left: 8%;
	border-radius: 12px;
	display: inline-block;
	font-size: 28px;
	color: white;
	background-color: #428bca;
	cursor: pointer;
	webkit-user-select: none;
	-moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;
}


