/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


/*This is the reset file that comes with compass*/
@import "compass/reset";

/*Setting up some colors from color scheme*/
$background: #E0F4F6;
$background2: #C0E5E4;
$button-color: #196966;
$screen-width: 1920px;
$screen-height: 1080px;
$corner-container-height: 20%;
$corner-container-width: 30%;
$piece-color: #CC0000;

@font-face{
	font-family: Exo;
	src: url(../fonts/Exo-Regular.otf);
}

@font-face{
	font-family: ExoLight;
	src: url(../fonts/Exo-Light.otf);
}

body{
  background-image: url('../images/background.png');
  font-family: Exo;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #C4E5E1;
}

html {
  height: 100%;
  overflow: hidden;
}

h2 {
	font-size: 18px;
	margin-bottom: 20px;
}

p {
	font-size: 14px;

}

.page_container{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.asset_container{
  z-index: 400;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  z-index: 400;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#budget_meter_label{
position: absolute;
top: 8%;
width: 50%;
right: 100%;
color: white;
	
}

#submitButton{
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  left: -50%;
  top: 50%;
  height: 45%;
  width: 130%;
  text-align: center;
  font-size: 50pt;
}

.meter{
	border-radius: 20px;
	border: black solid 1px;
	width: 80%;
	height: 15%;
	background-color: white;
	position: relative;
	top: 5%;
	right: 5%;
	overflow: hidden;

	.meter_level{
		width: 50%;
		height: 100%;
		background-color: #00ff00;
		transition-duration: 2s;

	}
}

.piece{
  background-color: $piece-color;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
}

#question_mark{
	position: absolute;
	margin: 0 auto;
	width: 60%;
	height: 66%;
	bottom: 0;
	right: 0;
	font-size: 50px;
	color: white;
}

.house{
	position: absolute;
	top: 100px;
	left: 0px;
}

.info_panel{
	position: absolute;
	bottom: 20%;
	right: 0;
	top: 20%;
	height: 50%;
	padding: 2%;
	background-color: white;
	width: 26%;

	img{
		float: right;
		padding-left: 5px;
		padding-bottom: 5px;

	}
	.panel_cost{
		font-style: italic;
		font-size: 18px;
		color: green;
	}
}

.pieces_start_container{
	background-color: $button-color;
	height: $corner-container-height;
	width: $corner-container-width;
	position: absolute;
	left: 0;
	bottom: 0;

}

.pieces_start_prompt{
	width: 70%;
	height: 10px;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 47%;
	color: white;
}

.budget_meter_container{
	background-color: transparent;
	height: $corner-container-height;
	width: 300px;
	position: absolute;
	right: 0;
	top: 0;
}

.shopping_cart_prompt{
	width: 60%;
	height: 10px;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50%;
	color: white;
}

.task{
	padding: 20px;
	font-size: 20px;

	&:hover{
		font-size: 30px;
	}
}

.worker_flip{
	-moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/*Animation Styles*/

#rainbarrel {
	position: absolute;
	bottom: 20%;
	left: 10%;
}

#geothermal {
	position: absolute;
	bottom: 10%;
	left: 33%;
}

.modal{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}

/* ------ shan's stuff ------- */

#backgroundOverlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: -1;
}

.bigButtonText{
  margin-top: 30px;
  text-align: center;
  font-size: 24pt;
}

#startButton{
  width: 350px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 40%;
  color: white;
  background-color: black;
  z-index: 300;
}

.nextButton{
  position: relative;
  width: 350px;
  height: 80px;
  left: 40%;
  color: white;
  background-color: black;
  z-index: 300;
}

.instrText{
  margin-top: 300px;
  color: white;
  font-size: 24pt;
  text-align: center;
}

.info-panel{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  color: white;
  padding: 5px;
  font-size: 10pt;
  border-radius: 10px;
}

.info-circle-tag{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2px;
  white-space: nowrap; 
  font-size: 12pt;
}

.game-panel{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	margin: 10px;
	color: white;
}

.game-panel-transparent{
	background-color: transparent;
	border-radius: 10px;
	margin: 10px;
}

.big-btn{
	width: 90px;
	height: 90px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.small-btn{
	width: 45px;
	height: 45px;
	margin-bottom: 10px;
	margin-left: 5px;
	vertical-align: bottom;
}

#close-btn{
	margin-left: -15px;
	width: 45px;
	height: 45px;
}

#help-btn{
	margin-left: 5px;
	width: 45px;
	height: 45px;
}

#time-tag{
	position: absolute;
	top: 10px;
	left: 115px;
	font-size: 10pt;
}

#gameChart{
	padding-top: 15px;
}

.stacked-chart-axis path,
.stacked-chart-axis line{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.stacked-chart-data-rect{
	background-color: white;
	width: 10px;
	height: 10px;
}

#panelContainer-bottom{
	width: 100%;
	position: fixed;
	bottom: 0px;
	display: inline-block;
}

#panelContainer-top{
	width: 100%;
}

#budgetValue{
	color: white;
	font-size: 22pt;
	margin-top: 20px;
	font-family: ExoLight;
}

#budgetLable{
	color: white;
	font-size: 15pt;
	margin-top: 10px;
}

#budgetMeterBg{
	position: absolute;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	width: 40px;
	height: 80px;
	top: 15px;
	left: 180px;
}

#budgetMeterBar{
	position: absolute;
	border-radius: 5px;
	top: 15px;
	left: 180px;
	width: 40px;
	height: 80px;
	background-color: rgb(255, 102, 102);

}

.rain_barrel_frame{
	position: absolute;
	left: 950px;
	top: 250px;
	width: 150px;
	display: none;
}

.geo_thermal_frame{
	position: absolute;
	top: 400px;
	left: 100px;
	width: 600px;
	display:none;
}

.solar_panel_frame{
	position: absolute;
	left: 250px;
	top: 30px;
	width: 500px;
	display: none;
}

#mainHouse{
	position: absolute; 
	left: 500px; 
	width: 500px;
	top: -20px;
}

#roundScore {
  font-size: 1.5em;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#roundScreen {
  width: 870px;
  height: 60%;
  position: relative;

  button {
    position: absolute;
    bottom: 20px;
  }
 
  dl {

  }

  dt {
    font-size: 1.3em;
    padding-bottom: 10px;
  }

  dd {
    font-weight: 400;
  }

  h2 {
    border-top: solid white 1px;
    padding-top: 20px;
  }

  h2:first-child {
    border-top: none;
    padding-top: 0px;
  }
}

#nextRound {
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 300px;

  h2 {
    text-align: center;
  }
}

#roundChart {
  svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.overlay-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding:30px;
}

#panelContainer-middle{
	width: 100%;
}

#endScreen{
	position: absolute; 
	top: 15%; 
	left: 20%; 
	width: 60%; height: 70%; 
	z-index: 400;
	display: none;
}

.endScore{
	color: white;
	font-size: 40pt;
	display: inline-block;
	margin-top: -20px;
	margin-left: 40px;
	margin-right: 40px;
}

.endText{
	color: white;
	font-size: 12pt;
	margin-left: 40px;
	margin-top: 20px;
}

.endInput{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
	width: 90%;
}

.endButton{
	color: white;
	font-size: 40pt;
	margin-top: 30px;
	margin-left: 40px;
	margin-right: 40px;

}

#prompt{
	text-align: center;
}

.rain_barrel_rating, .solar_panel_rating, .geothermal_rating{
	display: inline-block;
	width: 250px;
	p{
		display: inline-block;
		margin: 0;
	}
	img{
		float: right;
	}
	.star_group{
		display: inline-block;
	}
}

@import 'pieces';
@import 'customization';
