/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


/*This is the reset file that comes with compass*/
@import "compass/reset";

/*Setting up some colors from color scheme*/
$background: #E0F4F6;
$background2: #C0E5E4;
$button-color: #196966;
$screen-width: 1920px;
$screen-height: 1080px;
$corner-container-height: 20%;
$corner-container-width: 30%;
$piece-color: #CC0000;

body{
	background-image: url('../images/background.png');
	background-color: $background;
	font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

html {
  height: 100%;
  overflow: hidden;
}

h2 {
	font-size: 18px;
	margin-bottom: 20px;
}

p {
	font-size: 14px;

}

.page_container{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.overlay {
  z-index: 400;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

<<<<<<< HEAD
.calibrate-point {
  
  width: 60px;
  height: 60px;
  display: none;

}

#calibrate {
	position: fixed;
	bottom:10px;
	right:10px;
	padding: 10px;
	background-color: rgba(0,0,0,0.7);

  p{
    color: white;
  }
}

#point1{
  top: 80px;
  left: 80px;
}

#point2 {
  top: 80px;
  right: 140px;
}

#point3{
  left: 80px;
  bottom: 140px;
}

=======
>>>>>>> 7cd8b3d9bbddb3000d3fed56738ed5b2261ce09b
#budget_meter_label{
position: absolute;
top: 8%;
width: 50%;
right: 100%;
color: white;
	
}

#submitButton{
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  left: -50%;
  top: 50%;
  height: 45%;
  width: 130%;
  text-align: center;
  font-size: 50pt;
}

.meter{
	border-radius: 20px;
	border: black solid 1px;
	width: 80%;
	height: 15%;
	background-color: white;
	position: relative;
	top: 5%;
	right: 5%;
	overflow: hidden;

	.meter_level{
		width: 50%;
		height: 100%;
		background-color: #ff6633;
		transition-duration: 2s;

	}
}

.piece{
  background-color: $piece-color;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
}

#question_mark{
	position: absolute;
	margin: 0 auto;
	width: 60%;
	height: 66%;
	bottom: 0;
	right: 0;
	font-size: 50px;
	color: white;
}

.house{
	position: absolute;
/*	bottom: 20%;
	width: 40%;
	left: 43%;*/

}

.info_panel{
	position: absolute;
	bottom: 20%;
	right: 0;
	top: 20%;
	height: 50%;
	padding: 2%;
	background-color: white;
	width: 26%;

	img{
		float: right;
		padding-left: 5px;
		padding-bottom: 5px;

	}
	.panel_cost{
		font-style: italic;
		font-size: 18px;
		color: green;
	}
}

.pieces_start_container{
	background-color: $button-color;
	height: $corner-container-height;
	width: $corner-container-width;
	position: absolute;
	left: 0;
	bottom: 0;

}

.pieces_start_prompt{
	width: 70%;
	height: 10px;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 47%;
	color: white;
}

.budget_meter_container{
	background-color: transparent;
	height: $corner-container-height;
	width: 300px;
	position: absolute;
	right: 0;
	top: 0;
}

.shopping_cart_prompt{
	width: 60%;
	height: 10px;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50%;
	color: white;
}

.task{
	padding: 20px;
	font-size: 20px;

	&:hover{
		font-size: 30px;
	}
}

.worker_flip{
	-moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/*Animation Styles*/

#rainbarrel {
	position: absolute;
	bottom: 20%;
	left: 10%;
}

#geothermal {
	position: absolute;
	bottom: 10%;
	left: 33%;
}

.modal{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}

/* ------ shan's stuff ------- */

#backgroundOverlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: -1;
}

.bigButtonText{
  margin-top: 30px;
  text-align: center;
  font-size: 24pt;
}

#startButton{
  width: 350px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 40%;
  color: white;
  background-color: black;
  z-index: 300;
}

.nextButton{
  position: relative;
  width: 350px;
  height: 80px;
  left: 40%;
  color: white;
  background-color: black;
  z-index: 300;
}

.instrText{
  margin-top: 300px;
  color: white;
  font-size: 24pt;
  text-align: center;
}

.info-panel{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
  margin-top: -50px;
	margin-left: 180px;
  width: 400px;
  height: 160px;
  color: white;
  padding: 5px;
}

.info-circle-tag{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2px;
  white-space: nowrap; 
  font-size: 18pt;
}

@import 'pieces';
@import 'customization';
