/* Google Map Styles */
/* line 3, ../sass/customization.scss */
#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* line 8, ../sass/customization.scss */
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* line 19, ../sass/customization.scss */
#preferences-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  width: 70%;
  height: 70%;
}

/* line 31, ../sass/customization.scss */
#map-container {
  height: 80%;
}

/* line 35, ../sass/customization.scss */
.form-center {
  overflow: hidden;
  padding: 10px;
}
/* line 40, ../sass/customization.scss */
.form-center form {
  margin: 0 auto;
}
/* line 44, ../sass/customization.scss */
.form-center label, .form-center input {
  float: left;
}
/* line 47, ../sass/customization.scss */
.form-center label {
  clear: left;
  display: block;
  margin-top: 3px;
  width: 90px;
}

/* line 55, ../sass/customization.scss */
.slider {
  padding-bottom: 25px;
  left: 70px;
  display: inline-block;
}

/* line 61, ../sass/customization.scss */
#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

/* line 71, ../sass/customization.scss */
#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;
  /* Regular padding-left + 1. */
  width: 401px;
}

/* line 78, ../sass/customization.scss */
.pac-container {
  font-family: Roboto;
}

/* line 82, ../sass/customization.scss */
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

/* line 88, ../sass/customization.scss */
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/* line 94, ../sass/customization.scss */
#preferences-form {
  margin-top: 10px;
  margin-bottom: 10px;
}
