/* Google Map Styles */
/* line 3, ../sass/customization.scss */
#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* line 8, ../sass/customization.scss */
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* line 19, ../sass/customization.scss */
#preferences-container {
  width: 70%;
  height: 70%;
  background-color: white;
  border-radius: 10px;
}

/* line 26, ../sass/customization.scss */
#map-container {
  height: 75%;
}

/* line 32, ../sass/customization.scss */
.gm-style-iw h3 {
  padding-bottom: 7px;
}
/* line 36, ../sass/customization.scss */
.gm-style-iw strong {
  font-weight: bold;
}
/* line 40, ../sass/customization.scss */
.gm-style-iw button {
  margin-top: 5px;
  color: #fff;
  background-color: #428bca;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #357ebd;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
}

/* line 62, ../sass/customization.scss */
.form-center {
  overflow: hidden;
  padding: 10px;
}
/* line 67, ../sass/customization.scss */
.form-center form {
  margin: 0 auto;
}
/* line 71, ../sass/customization.scss */
.form-center label, .form-center input {
  float: left;
}
/* line 74, ../sass/customization.scss */
.form-center label {
  clear: left;
  display: block;
  margin-top: 3px;
}
/* line 80, ../sass/customization.scss */
.form-center .output {
  float: right;
  margin-top: 5px;
}

/* line 86, ../sass/customization.scss */
.slider {
  padding-bottom: 25px;
  left: 70px;
  display: inline-block;
}

/* line 92, ../sass/customization.scss */
#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

/* line 102, ../sass/customization.scss */
#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;
  /* Regular padding-left + 1. */
  width: 401px;
}

/* line 109, ../sass/customization.scss */
.pac-container {
  font-family: Roboto;
}

/* line 113, ../sass/customization.scss */
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

/* line 119, ../sass/customization.scss */
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/* line 125, ../sass/customization.scss */
#preferences-form {
  margin-top: 10px;
  margin-bottom: 10px;
}
