/* line 4, ../sass/instruction.scss */
.instruction_page {
  background-color: #D8F5D5;
  background-image: url("../images/instruction-bgx2.png");
  font-family: 'Exo', Arial, sans-serif;
  padding: 5% 12%;
}

/* line 12, ../sass/instruction.scss */
.instruction_header {
  font-size: 58px;
  color: #3d3d3d;
  margin-bottom: 2%;
}

/* line 18, ../sass/instruction.scss */
.instruction_paragraph {
  color: #3d3d3d;
  font-weight: 300;
  font-size: 22px;
}
/* line 22, ../sass/instruction.scss */
.instruction_paragraph img {
  float: right;
}
/* line 25, ../sass/instruction.scss */
.instruction_paragraph .instruction_options {
  float: left;
  height: 50%;
  position: relative;
}

/* line 32, ../sass/instruction.scss */
.instruction_next_button {
  padding: 1% 4%;
  position: absolute;
  bottom: 10%;
  right: 8%;
  border-radius: 12px;
  display: inline-block;
  font-size: 28px;
  color: white;
  background-color: #428bca;
  cursor: pointer;
  webkit-user-select: none;
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
}

/* line 48, ../sass/instruction.scss */
.instruction_previous_button {
  padding: 1% 4%;
  position: absolute;
  bottom: 10%;
  left: 8%;
  border-radius: 12px;
  display: inline-block;
  font-size: 28px;
  color: white;
  background-color: #428bca;
  cursor: pointer;
  webkit-user-select: none;
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
}
