/* line 2, ../sass/instruction.scss */
html {
  font-size: 34px;
  font-family: 'Exo', Helvetica, Arial, sans-serif;
}

/* line 8, ../sass/instruction.scss */
.instruction_page {
  background-color: #D8F5D5;
  background-image: url("../images/instruction-bgx2.png");
  font-family: 'Exo', Arial, sans-serif;
  padding: 5% 12%;
}

/* line 16, ../sass/instruction.scss */
#start_screen .instruction_next_button {
  right: 40%;
  bottom: 5%;
}

/* line 22, ../sass/instruction.scss */
.instruction_header {
  font-size: 2.2rem;
  color: #3d3d3d;
  margin-bottom: 2%;
}

/* line 27, ../sass/instruction.scss */
.instruction_paragraph {
  color: #3d3d3d;
  font-weight: 300;
  font-size: 1rem;
}
/* line 31, ../sass/instruction.scss */
.instruction_paragraph img {
  float: right;
  margin-left: 3%%;
}
/* line 35, ../sass/instruction.scss */
.instruction_paragraph .instruction_option_container {
  display: inline-block;
  height: 200px;
}
/* line 39, ../sass/instruction.scss */
.instruction_paragraph .instruction_option {
  display: inline-block;
  width: 32%;
}
/* line 42, ../sass/instruction.scss */
.instruction_paragraph .instruction_option img {
  float: none;
}
/* line 46, ../sass/instruction.scss */
.instruction_paragraph .instruction_option_label {
  font-size: 1rem;
  color: #3d3d3d;
}
/* line 50, ../sass/instruction.scss */
.instruction_paragraph button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* line 58, ../sass/instruction.scss */
.instruction_next_button {
  padding: 1% 4%;
  position: absolute;
  bottom: 10%;
  right: 8%;
  border-radius: 12px;
  display: inline-block;
  font-size: 1rem;
  color: white;
  background-color: #428bca;
  cursor: pointer;
  webkit-user-select: none;
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
}

/* line 74, ../sass/instruction.scss */
.instruction_previous_button {
  padding: 1% 4%;
  position: absolute;
  bottom: 10%;
  left: 8%;
  border-radius: 12px;
  display: inline-block;
  font-size: 1rem;
  color: white;
  background-color: #428bca;
  cursor: pointer;
  webkit-user-select: none;
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
}
