/* Calibraton Styles */
/* line 3, ../sass/pieces.scss */
.calibrate-point {
  width: 60px;
  height: 60px;
  display: none;
}

/* line 11, ../sass/pieces.scss */
#point1 {
  top: 80px;
  left: 80px;
}

/* line 16, ../sass/pieces.scss */
#point2 {
  top: 80px;
  right: 140px;
}

/* line 21, ../sass/pieces.scss */
#point3 {
  left: 80px;
  bottom: 140px;
}

/* Piece Ending Container Styles */
/* line 28, ../sass/pieces.scss */
#piecesContainer {
  position: absolute;
  top: 450px;
  left: 600px;
}

/* line 34, ../sass/pieces.scss */
.piecePlacement {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px dashed #969696;
  position: relative;
  display: inline-block;
  margin: 5px;
}
