/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*This is the reset file that comes with compass*/
/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*Setting up some colors from color scheme*/
/* line 18, ../sass/screen.scss */
body {
  background-color: #e0f4f6;
  font-family: Arial, sans-serif;
}

/* line 27, ../sass/screen.scss */
.circle {
  border-radius: 50%;
  width: 20%;
  height: 20%;
  background-color: #196966;
  position: absolute;
  bottom: 0;
  right: 40px;
  cursor: pointer;
}

/* line 39, ../sass/screen.scss */
#question_mark {
  position: absolute;
  margin: 0 auto;
  width: 60%;
  height: 66%;
  bottom: 0;
  right: 0;
  font-size: 50px;
  color: white;
}

/* line 50, ../sass/screen.scss */
.house {
  position: absolute;
  bottom: 20%;
  width: 40%;
  left: 43%;
}

/* line 58, ../sass/screen.scss */
.info_panel {
  position: absolute;
  bottom: 20%;
  right: 0;
  height: 60%;
  background-color: white;
  width: 30%;
}

/* line 67, ../sass/screen.scss */
.pieces_start_container {
  background-color: #196966;
  height: 20%;
  width: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* line 77, ../sass/screen.scss */
.pieces_start_prompt {
  width: 70%;
  height: 10px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 47%;
  color: white;
}

/* line 89, ../sass/screen.scss */
.shopping_cart_container {
  background-color: #196966;
  height: 20%;
  width: 30%;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 98, ../sass/screen.scss */
.shopping_cart_prompt {
  width: 60%;
  height: 10px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  color: white;
}

/* line 110, ../sass/screen.scss */
.task {
  padding: 20px;
  font-size: 20px;
}
/* line 114, ../sass/screen.scss */
.task:hover {
  font-size: 30px;
}

/*Animation Styles*/
/* line 121, ../sass/screen.scss */
#rainbarrel {
  position: absolute;
  bottom: 20%;
  left: 10%;
}

/* line 127, ../sass/screen.scss */
#geothermal {
  position: absolute;
  bottom: 10%;
  left: 33%;
}
