/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*This is the reset file that comes with compass*/
/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*Setting up some colors from color scheme*/
/* line 19, ../sass/screen.scss */
body {
  background-color: #e0f4f6;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

/* line 27, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 31, ../sass/screen.scss */
h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

/* line 36, ../sass/screen.scss */
p {
  font-size: 14px;
}

/* line 41, ../sass/screen.scss */
.page_container {
  height: 100%;
  width: 100%;
}

/* line 46, ../sass/screen.scss */
.overlay {
  z-index: 10;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

/* line 57, ../sass/screen.scss */
.calibrate-point {
  width: 60px;
  height: 60px;
  display: none;
}

/* line 65, ../sass/screen.scss */
#point1 {
  top: 0px;
  left: 0px;
}

/* line 70, ../sass/screen.scss */
#point2 {
  top: 0px;
  right: 0px;
}

/* line 75, ../sass/screen.scss */
#point3 {
  top: 0px;
  bottom: 0px;
}

/* line 80, ../sass/screen.scss */
.circle {
  border-radius: 50%;
  width: 20%;
  height: 20%;
  background-color: #196966;
  position: absolute;
  bottom: 0;
  right: 40px;
  cursor: pointer;
}

/* line 92, ../sass/screen.scss */
.piece {
  background-color: #cc0000;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

/* line 101, ../sass/screen.scss */
#question_mark {
  position: absolute;
  margin: 0 auto;
  width: 60%;
  height: 66%;
  bottom: 0;
  right: 0;
  font-size: 50px;
  color: white;
}

/* line 112, ../sass/screen.scss */
.house {
  position: absolute;
  bottom: 20%;
  width: 40%;
  left: 43%;
}

/* line 120, ../sass/screen.scss */
.info_panel {
  position: absolute;
  bottom: 20%;
  right: 0;
  top: 20%;
  height: 50%;
  padding: 2%;
  background-color: white;
  width: 26%;
}
/* line 130, ../sass/screen.scss */
.info_panel img {
  float: right;
  padding-left: 5px;
  padding-bottom: 5px;
}
/* line 136, ../sass/screen.scss */
.info_panel .panel_cost {
  font-style: italic;
  font-size: 18px;
  color: green;
}

/* line 143, ../sass/screen.scss */
.pieces_start_container {
  background-color: #196966;
  height: 20%;
  width: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* line 153, ../sass/screen.scss */
.pieces_start_prompt {
  width: 70%;
  height: 10px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 47%;
  color: white;
}

/* line 165, ../sass/screen.scss */
.shopping_cart_container {
  background-color: #196966;
  height: 20%;
  width: 30%;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 174, ../sass/screen.scss */
.shopping_cart_prompt {
  width: 60%;
  height: 10px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  color: white;
}

/* line 186, ../sass/screen.scss */
.task {
  padding: 20px;
  font-size: 20px;
}
/* line 190, ../sass/screen.scss */
.task:hover {
  font-size: 30px;
}

/*Animation Styles*/
/* line 197, ../sass/screen.scss */
#rainbarrel {
  position: absolute;
  bottom: 20%;
  left: 10%;
}

/* line 203, ../sass/screen.scss */
#geothermal {
  position: absolute;
  bottom: 10%;
  left: 33%;
}
